@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zien</h1>
    <p class="lead">De Zien app</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zien App</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>